#gameRow {
    text-align: center;
}

#gameLog {
    display: block;
    font-size: 4em;
}

.choiceBtn {
    max-width: 30%;
}

#nameForm {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
}

#chatBox {
    border-style: solid;
    border-width: 1px;
    margin-top: 1em;
    height: 25em;
    overflow: auto;
}

.choiceImg {
    border-style: solid;
    border-width: 1px;
}

#selectionRow > h3 {
    margin: 0 auto;
}

.nameHeader {
    text-decoration: underline;
}

#chatForm {
    width: 100%;
}

.chatContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chatContainer::after {
    content: "";
    clear: both;
    display: table;
}

.opponentName {
    display: block;
    float: right;
    color: #aaa;
}

.userName {
    display: block;
    float: left;
    color: #999;
}

.userText {
    text-align: left;
}

.opponentText {
    text-align: right;
}